<div class="row">
	<div class="col-xs-3 col-sm-12">
		<h3>Title:</h3>
		{{title}}
	</div>

	<div class="col-xs-6 col-sm-12">
		<h3>Description:</h3>
		{{description}}
	</div>

	<div class="col-xs-3 col-sm-12">
		<h3>Categories:</h3>
		{{#each categories}}
			{{link-to title 'category' slug}}
		{{/each}}
	</div>
</div>