<div class="row">
	<div class="col-xs-3 col-sm-12">
		<h1>{{title}}</h1>
	</div>

	
	<div class="col-xs-3 col-sm-6">
		<h3>Categories:</h3>
		{{#each categories}}
			{{link-to title 'category' slug}}
		{{/each}}
	</div>

	<div class="col-xs-3 col-sm-6">
		<h3>Skills:</h3>
		{{#each categories}}
			{{link-to title 'category' slug}}
		{{/each}}
	</div>


		<div class="col-xs-6 col-sm-12">
			{{description}}
		</div>


</div>