<div class="row">
	<div class="col-sm-9">
		<img src="http://placehold.it/500x700">
	</div>
	<div class="col-sm-3 pull-right">
		{{project-metadata title=title description=description categories=categories}}
	</div>

</div>