
<div class="col-sm-12">
	<div class="greeting">
		<h1><span>Welcome</span></h1>
		<p class="shake">Please wipe your feet and hurry in. You're letting in all of the cold air.</p>
	</div>
</div>

<div class="col-sm-12">

<hr>
</div>

<div class="col-sm-4">
	<img src="http://placehold.it/400x200/000/fff" alt="">

</div>

<div class="col-sm-8">
	<img src="http://placehold.it/800x200/000/fff" alt="">

</div>