<div class="row">
	<div class="col-sm-12 companies-nav">
		<h4>Companies:</h4>
		<ul class="nav nav-pills">
			{{#each}}
				{{#link-li}}
					{{#link-to 'company' slug}}
						<img {{bind-attr src=logo alt=company}} width="50"/>
					{{/link-to}}
				{{/link-li}}
			{{/each}}
		</ul>
		</div>
</div>


{{outlet}}



